# =========================
# Sistema / editores
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
.ipynb_checkpoints/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Entornos
# =========================
.env
.venv/
venv/
env/
conda_env/
.python-version

# =========================
# Logs / salidas temporales
# =========================
*.log
*.out
*.err
nohup.out

# =========================
# Modelos / checkpoints
# =========================
checkpoints/
*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.joblib

# =========================
# Datos y arrays grandes
# =========================

# Permite versionar embedding de ejemplo en conditioning/
!conditioning/pocket_emb.npy

results/
outputs/
cache/
*.csv
*.tsv
*.parquet
*.feather
*.h5
*.hdf5
*.npz
*.npy

# Permite versionar dataset base de Zink250k
!datasets/raw/zinc250k/*.csv

# =========================
# Química computacional / docking
# =========================
*.sdf
*.mol2
*.pdbqt
*.dlg

# Permite versionar receptores de ejemplo en pdbqts/
!pdbqts/*.pdbqt

# OJO:
# normalmente NO ignores todos los .pdb
# porque algunos receptores/ejemplos pequeños sí pueden interesar.
# Si quieres ignorar solo resultados generados:
prepared_receptors/
docking_outputs/
poses/
vina_runs/

# =========================
# Figuras y PDFs generados
# =========================
figures/
plots/
*.pdf
*.png
*.jpg
*.jpeg
*.svg
*.out

# =========================
# Archivos de experimentos masivos
# =========================
experiments/*
!experiments/README.md
trajectories_*.txt
attention_mean*.txt
loss_history*.txt

# =========================
# WandB / tracking
# =========================
wandb/
mlruns/
tensorboard/
runs/

# =========================
# Compresión / archivos pesados
# =========================
*.zip
*.tar
*.tar.gz
*.gz
*.bz2
*.7z

# =========================
# Builds / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# Permite versionar artefactos del tokenizador
!datasets/tokenizer/*.pkl

# =========================
# Tests / coverage
# =========================
.coverage
.pytest_cache/
htmlcov/

*.smi
